---
---

@use 'harvard-style' as *;

/* 优化内容排版布局 */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 5rem;
}

@media (max-width: 680px) {
    main {
        padding: 1.5rem 2.5rem;
    }
}

/* 针对多媒体元素确保响应式弹性 */
img, video {
    max-width: 100%;
    height: auto;
}
