<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    <div class="site-container">
      <header class="site-header">
        {% include navigation.html %}
      </header>
      <main id="main-content" class="site-main">
        {{ content }}
      </main>
      <footer class="site-footer">
        <!-- site footer content can go here -->
      </footer>
    </div>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [['$','$'], ['\\\\(','\\\\\\)']],
          processEscapes: true
        }
      });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript" async></script>
  </body>
</html>